@use '../../../styles/variables' as v;

.sectioncards {
  background-color: v.$color-main;
  width: 50%;

  &__noresult {
    margin: 2rem;
    text-align: center;

    &-logo {
      opacity: 10%;
    }
  }
}
