@use '../../../styles/_variables' as v;

.sectioncards {
  width: 60%;

  &__noresult {
    margin: 2rem;
    text-align: center;

    &-logo {
      opacity: 10%;
    }

    &-title {
      color: v.$color-dark;
    }
  }

  @media screen and (max-width: 768px) {
    width: 60%;
  }

  @media screen and (max-width: 390px) {
    width: 100%;
  }
}
