@use '../../../styles/_variables' as v;

.sectioncards {
  width: 60%;
  height: 90vh;
  overflow: auto;

  &__noresult {
    margin: 2rem;
    text-align: center;

    &-logo {
      opacity: 10%;
    }

    &-title {
      color: v.$color-dark;
    }
  }

  @media screen and (max-width: 768px) {
    width: 60%;
    height: 57rem;
    position: relative;
    top: 4.5rem;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
    position: static;
  }
}
