@use '../../../styles/reset';
@use '../../../styles/variables' as v;

.form__submit-button {
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  border: 2px solid v.$color-hower;
  border-radius: 10px;
  font-weight: 700;
  font-size: 25px;
  color: v.$color-text-dark;
  background-color: v.$color-main;
  box-shadow: 0 10px 20px v.$color-text-dark;
  transition: 0.1s;

  &:hover {
    transform: scale(1.1);
  }
}
