@use '../../../styles/reset';
@use '../../../styles/variables' as v;

.footer__wrapper {
  background-color: hsla(208, 54%, 89%, 1);
  padding: 4rem 1rem 1rem 1rem;
  @media screen and (max-width: 768px) {
    padding: 2rem 1rem 1rem 1rem;
    z-index: 10000;
    position: relative;
  }
}

.footer__container {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5rem;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    gap: 2rem;
    padding: 0.5rem 2rem;
  }
}

.footer__section-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__section-icon-logo-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  gap: 0.5rem;

  :hover {
    transition: ease-in-out 0.2s;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.footer__section-link {
  text-decoration: none;
  color: v.$color-text;
}

.footer__section-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  :hover {
    transition: ease-in-out 0.1s;
    cursor: pointer;
    transform: scale(1.05);
    color: v.$color-text-dark;
    text-decoration: underline;
  }
}

.footer__rights {
  text-align: center;
}
