@use '../../styles/reset';
@use '../../styles/variables' as v;

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  height: 100vh;

  .container-home {
    max-width: 1300px;
    margin: 0 auto;

    .main-form {
      @include v.form-styling;
      width: 70%;

      @media screen and (max-width: 414px) {
        width: 80%;
      }

      &__label {
        @include v.label;
        margin-top: 10px;
        margin-bottom: 0;

        @media screen and (max-width: 414px) {
          @include v.label-phone;
        }
      }

      &__title-animal {
        @include v.title-form-text;
        background-color: v.$color-flash;
        margin-bottom: 0;
        border-radius: 10px 10px 0 0;

        @media screen and (max-width: 414px) {
          @include v.title-form-text-phone;
        }
      }

      &__radio-animal {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        background-color: v.$color-flash;
        border-radius: 0 0 10px 10px;
        padding-bottom: 10px;

        @media screen and (max-width: 414px) {
          gap: 5px;
        }

        .radio-animal__title {
          @include v.label;
          background-color: v.$color-flash;
          margin-bottom: 0;
          border-radius: 10px 10px 0 0;
        }
      }
    }
  }
}

.radio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin-top: -23px;
}

@media screen and (max-width: 414px) {
  .radio {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .main-form__label {
    @include v.label-phone;
  }
}

@media screen and (max-width: 414px) {
  .main-form__radio-animal {
    gap: 10px;
  }
}

.fonctionnality {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 8rem auto;

  @media screen and (max-width: 414px) {
    flex-direction: column;
  }

  &__card {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;

    @media screen and (max-width: 414px) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 0;
    text-align: center;
    font-size: 1.8rem;
    color: v.$color-dark;

    @media screen and (max-width: 414px) {
    }
  }

  &__content {
    text-align: center;
    color: v.$color-text;
  }

  &__img {
    width: 25%;
  }
}

.marketing {
  background-image: url(../../assets/marketImg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 2rem;
  padding: 1rem;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: 414px) {
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;
  }

  &__left-space {
    width: 60%;
    @media screen and (max-width: 414px) {
      width: 0;
    }
  }

  &__right-space {
    width: 40%;
    text-wrap: wrap;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 10px;

    @media screen and (max-width: 414px) {
      width: 100%;
    }
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
    color: v.$color-main;
    margin: 2rem 0 1rem 0;
  }

  &__content {
    text-align: center;
    font-size: 1.5rem;
    color: v.$color-main;
  }
}

.testimonials {
  width: 100%;
  margin: 6rem 0;
  text-align: center;

  &__cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 1rem;

    @media screen and (max-width: 414px) {
      flex-direction: column;
    }
  }

  &__card {
    border: 2px solid #e7e7e7;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
    align-items: center;
    gap: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &-avatar {
      border-radius: 50%;
      border: 2px solid #e7e7e7;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      filter: grayscale(100%);
    }

    &-name {
      font-size: 1.5rem;
      color: v.$color-dark;
    }

    &-content {
      font-size: 1.2rem;
      color: v.$color-text;
    }
  }

  &__title {
    font-size: 2rem;
    margin: 2rem;
    color: v.$color-dark;
  }
}
