@use '../../../styles/reset';
@use '../../../styles/variables' as v;
.radio-simple {
  display: flex;
  gap: 5px;
}
.radio-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-weight: 400;
  color: v.$color-text-dark;
}

.radio-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid v.$color-border;
  background-color: v.$color-main;
  border-radius: 50%;
}

.radio-input:checked + .radio-label::before {
  background-color: v.$color-text-dark;
}
