@use '../../styles/reset';
@use '../../styles/variables' as v;

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  height: 100vh;
  background-image: url(../../assets/chienv2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;

  .container-home {
    max-width: 1300px;
    margin: 0 auto;

    .main-form {
      @include v.form-styling;
      width: 70%;

      &__label {
        @include v.label;
      }

      &__title-animal {
        @include v.title-form-text;
        background-color: v.$color-flash;
        margin-bottom: 0;
        border-radius: 10px 10px 0 0;
      }

      &__radio-animal {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;
        background-color: v.$color-flash;
        border-radius: 0 0 10px 10px;
        padding-bottom: 10px;

        .radio-animal__title {
          @include v.label;
          background-color: v.$color-flash;
          margin-bottom: 0;
          border-radius: 10px 10px 0 0;
        }
      }
    }
  }
}

.radio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  margin-top: -23px;
}
