@use '../../../styles/reset';
@use '../../../styles/variables' as v;
.datapicker-title {
  @include v.label;
  margin-top: 20px;
  margin-bottom: 5px;
}
.inputBox {
  @include v.input-field;
  width: 100%;
}
.legend {
  @include v.label;
}
