@use '../../../styles/reset';
@use '../../../styles/variables' as v;
.datapicker-title {
  @include v.label;
  margin-top: 20px;
  margin-bottom: 5px;
}
.inputBox {
  @include v.input-field;
  width: 100%;
}
.legend {
  @include v.label;
  margin-bottom: 0;
  margin-top: 10px;
}

@media screen and (max-width: 414px) {
  .legend,
  .datapicker-title {
    @include v.label-phone;
  }
}

@media screen and (max-width: 414px) {
  .inputBox {
    @include v.input-field-phone;
  }
}

.rdrDefinedRangesWrapper {
  display: none;
}

@media screen and (max-width: 414px) {
  .rdrCalendarWrapper {
    width: 245px;
    // position: absolute;
    top: 517px;
    left: 13px;
  }
}
