@use '../../../styles/variables' as v;

.general-main {
  background-image: url(../../../assets/chienv2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
