@use '../../styles/reset';
@use '../../styles/variables' as v;
.wrapper {
  border-bottom: 2px solid v.$color-border;
}
.menu {
  width: 990px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  background-color: v.$color-main;

  &__logo {
    font-size: 24px;
    font-weight: bold;
    width: 75px;
    height: 50px;
  }

  &__nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    font-weight: 400;
    font-size: 16px;
    color: v.$color-text-dark;

    &__menu-item {
      margin-right: 20px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__menu-connection {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

    strong {
      margin-right: 10px;
      color: v.$color-text-dark;
      font-weight: 400;
      font-size: 16px;
    }
  }
}

.menu__menu-button {
  border: none;
  background-color: v.$color-main;
  color: v.$color-text-dark;
  font-weight: 400;
  font-size: 16px;
}
