@use '../../../styles/reset';
@use '../../../styles/variables' as v;

.main-account {
  height: 100vh;
  background-image: url(../../../assets/chienv2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
}
.content {
  @include v.form-styling;
  width: 90%;
  margin: 0 auto;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  &__link {
    @include v.title-nav;
    @include v.transition;
    color: v.$color-text;
    text-decoration: none;
    padding: 20px 35px;
    border-bottom: 2px solid v.$color-border;

    &:hover {
      color: v.$color-flash;
      border-bottom: 2px solid v.$color-flash;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1300px;
}

.content__link-no-demand-container {
  text-align: center;
  margin: 2rem;
}

.content__link-no-demand-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: v.$color-dark;
}
