@use '../../../styles/reset';
@use '../../../styles/variables' as v;
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__field {
    @include v.input-field;

    &:focus {
      outline: none;
      border-color: v.$color-text;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
  }

  &__label {
    @include v.label;
    margin-top: 8px;
  }
}
