.leaflet-container {
  background-color: #111;
  width: 30%;
  height: 95vh;
  position: fixed;
  top: 5rem;
  right: 0;

  &-marker {
    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
      transform: translateY(-0.5rem);
    }
  }
}
