@use '../../../styles/reset';
@use '../../../styles/variables' as v;
.page-wrapper {
  display: flex;
  flex-direction: column;
}
.login__form {
  background-color: v.$color-main;
  border-radius: 4px;
  border: 2px solid v.$color-border;
  width: 90%;
  margin: 50px auto;
  color: v.$color-text;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
}

.main-login {
  position: relative;
  height: 100vh;
  background-image: url(../../../assets/chienv2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
}
.container-login {
  max-width: 1300px;
  margin: 0 auto;
}

.error {
  margin-top: 15px;
  color: red;
  font-weight: 700;
  font-size: 14px;
}
