@use '../../../styles/reset';
@use '../../../styles/variables' as v;
.page-wrapper {
  display: flex;
  flex-direction: column;
}
.login__form {
  @include v.form-styling;
  width: 50%;
}

.main-login {
  position: relative;
  height: 100vh;
  background-image: url(../../../assets/chienv2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
}
.container-login {
  max-width: 1300px;
  margin: 0 auto;
}

.error {
  margin-top: 15px;
  color: red;
  font-weight: 700;
  font-size: 14px;
}
