@use '../../../styles/variables' as v;

.inputSearch {
  width: 20%;
  height: 100%;
  margin: 1rem;
  z-index: 2;

  &__container {
  }

  &__form {
    font-weight: 700;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    background-color: v.$color-main;
  }

  &__title-animal {
  }

  &__radio-animal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__title-size {
  }

  &__radio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5 px;
  }
}
.radiosimple-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
