@use '../../../styles/reset';
@use '../../../styles/variables' as v;

.profil-wrapper {
  min-height: 100vh;
  background-image: url(../../../assets/chienv2.jpg);
  background-size: cover; /* Image will cover the entire container */
  background-repeat: no-repeat; /* Image will not repeat */
  flex-grow: 1;
  background-position: center;
}
.container-profil {
  @include v.form-styling;
  max-width: 1300px;
  flex-direction: row;
}
.aside-profil {
  padding: 20px;
  width: 50%;
}
.main-profil {
  padding: 20px;
  width: 50%;
}
.main-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.profil-title {
  @include v.label;
}

ul {
  list-style: none;
}

.link-animal {
  text-decoration: none;
  @include v.transition;
}
