@use '../../../styles/reset';
@use '../../../styles/variables' as v;

// ----------------------------wrapper------------------------------ //

.profil__wrapper {
  min-height: 100vh;
  background-color: v.$color-border;
}

.profil__container {
  @include v.form-styling;
  max-width: 1300px;
}
// -------------------------profil user----------------------------- //

.profil__user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    padding: 0;
  }

  &-header {
    background-color: v.$color-dark;
    width: 100%;
    border-radius: 10px;
    color: v.$color-main;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.profil__user-card {
  @include v.card-styling;
  justify-content: space-between;
  margin: 2rem 0 0 0;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.profil__user-pref {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  &-img {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
}

.profil__user-home {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.profil__user-header-button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  @include v.transition;
  cursor: pointer;

  :hover {
    background-color: v.$color-text;
    transform: scale(1.1);
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    @include v.transition;
  }
}

// -----------------------------booking------------------------------ //

.profil__booking {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  @media screen and (max-width: 767px) {
    padding: 0;
  }

  &-header {
    background-color: v.$color-dark;
    width: 100%;
    border-radius: 10px;
    color: v.$color-main;
    text-align: center;
    font-size: 1.5rem;
  }
}

.profil__booking-card {
  @include v.card-styling;
  justify-content: space-between;
  margin: 2rem 0 0 0;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

// -------------------------profil animal----------------------------- //

.profil__animal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  @media screen and (max-width: 767px) {
    padding: 0;
  }

  &-header {
    background-color: v.$color-dark;
    width: 100%;
    border-radius: 10px;
    color: v.$color-main;
    text-align: center;
    font-size: 1.5rem;
  }
}

.profil__animal-card {
  @include v.card-styling;
  justify-content: space-between;
  margin: 2rem 0;
  width: 100%;
  height: 100%;
}

// -------------------------Leaflet Map----------------------------- //

.leflet-container {
  @include v.card-styling;
  padding: 0;
  height: 200px;
  width: 100%;
  margin-bottom: 1rem;
}

.link-animal {
  @include v.transition;
  text-decoration: none;
  color: v.$color-dark;
  margin: 0;
}

.link-profil {
  @include v.transition;
  text-decoration: none;
  color: v.$color-dark;
}
