@use '../../../styles/reset';
@use '../../../styles/variables' as v;

.form-container {
  position: absolute;
  top: 10px;
  left: 0;

  min-height: 100vh;
  width: 100%;
  background-color: rgba(v.$color-border, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radio-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
p {
  margin-bottom: 15px;
}
.form__title {
  background-color: v.$color-dark;
  @include v.title-form-text;
  border-radius: 10px;
  color: v.$color-main;
}
.main {
  height: 100%;
}
.profil-form {
  @include v.form-styling;
  width: 60%;
}

.label-form {
  @include v.label;
}

@media screen and (max-width: 414px) {
  .label-form {
    @include v.label-phone;
  }
}

@media screen and (max-width: 414px) {
  .form__title {
    @include v.title-form-text-phone;
  }
}

@media screen and (max-width: 414px) {
  .radio-wrapper {
    flex-direction: column;
  }
}

.popup-close-button {
  display: block;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid v.$color-border;
  font-weight: 400;
  font-size: 20px;
  color: v.$color-text-dark;
  background-color: v.$color-main;
  transition: 0.1s;

  &:hover {
    transform: scale(1.1);
  }
}

.display {
  display: none;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
