@use '../../../styles/reset';
@use '../../../styles/variables' as v;

.form-container {
  position: absolute;
  top: 85px; /* Adjust as needed */
  left: 0; /* Adjust as needed */

  min-height: 100vh;
  width: 100%;
  background-color: rgba(v.$color-border, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radio-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
p {
  margin-bottom: 15px;
}
.form__title {
  background-color: v.$color-dark;
  @include v.title-form-text;
  border-radius: 10px;
  color: v.$color-main;
}
.main {
  height: 100%;
}
.profil-form {
  @include v.form-styling;
  width: 70%;
}

.label-form {
  @include v.label;
}

@media screen and (max-width: 414px) {
  .label-form {
    @include v.label-phone;
  }
}

@media screen and (max-width: 414px) {
  .form__title {
    @include v.title-form-text-phone;
  }
}

@media screen and (max-width: 414px) {
  .radio-wrapper {
    flex-direction: column;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;

  &__image {
    max-width: 24px;
  }
}
.display {
  display: none;
}
