@use '../../../styles/reset';
@use '../../../styles/variables' as v;
.radio-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
p {
  margin-bottom: 15px;
}
.form__title {
  background-color: v.$color-flash;
  @include v.title-form-text;
  border-radius: 10px;
}
.main {
  height: 100%;
  background-image: url(../../../assets/chienv2.jpg);
  background-size: cover; /* Image will cover the entire container */
  background-repeat: no-repeat; /* Image will not repeat */
  flex-grow: 1;
  background-position: center;
}
.profil-form {
  @include v.form-styling;
  width: 70%;
}

.label {
  @include v.label;
}
